body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #111111;
    padding-bottom: 600px;
}

h1
h2,h3,h4, ul, p , blockquote{
    margin: 0px;
}

ul{
    list-style: none;
    padding: 0px;
}

img{
    max-width: 100%;
    display: block;
}

img[src$=".jpg"]{
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: inherit;
}

